/*Table cells with visible borders*/
.bordered{ 
    border: 1px solid black;
    text-align:center;
    border-collapse:collapse;
    visibility:visible;
}
/*Table cells with visible borders and a double border on the bottom*/
.borderedb{ 
    border-collapse:collapse;
    border: 1px solid black;
    text-align:center;
    border-top-style:solid;
    border-right-style:solid;
    border-left-style:solid;
    border-bottom-style: double;
    border-bottom-width:3px;
    visibility:visible;
}        
/*Table cells with visible borders and a double border on the right*/
.borderedr{ 
    border-collapse:collapse;
    border: 1px solid black;
    text-align:center;
    border-top-style:solid;
    border-bottom-style:solid;
    border-right-width:3px;
    border-left-style:solid;
    border-right-style: double;
    visibility:visible;
}
/*Styles the radio buttons inside the table*/
td input{
    margin:auto
}
/*Avoid changing the below options; these are for controlling visibility.
Only change them if something remains visible when it shouldn't be.*/
.fpOnly{
    visibility:visible;
    display:block;
}
.borderedH{
    visibility:hidden;
    content-visibility:inherit;
    border:white,0px;
}
.borderedbH{
    visibility:hidden;
    content-visibility:inherit;
    border:white,0px;
}
.borderedrH{
    visibility:hidden;
    content-visibility:inherit;
    border:white,0px;
}
.intermediateOnlyH{
    visibility:hidden;
    display:none;
}
.intermediateOnly{
    visibility:visible;
    display:block;
}
.fpOnlyH{
    visibility:hidden;
    display:none;
}
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .about-section {
    padding: 10px;
    text-align: center;
    background-color: #000708;
    color: white;
  }
  
  pre {
    font-size: 20px;
  }
  
  .topnav {
    background-color: #000000;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #020202;
    color: white;
  }
  
  /* Style the button that is used to open and close the collapsible content */
  .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }

